.menuContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.menuButton, .activeMenuButton {
    font-weight: normal;
}

.activeMenuButton {
    font-weight: bold;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;  /*Adjust based on your layout */
}

.formBox {
    width: 100%;
    max-width: 1000px; /* Increased width for a wider form */
    margin: auto;
    padding: 20px;
    border: 6px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    background-color: white;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 22px); /* Adjusted for consistency in form elements */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

.error {
    color: #dc3545;
}

.success {
    color: #28a745;
}
